@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: #F4F4F4;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

a {
    color: #000000;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}
.hot-and-new-item .categori .item-list {
    display: block;
    width: 100%;
    background: white;
    border-radius: 0.4em;
    padding: 0.1em;
  }
.menufixed.nav-fixed {
    top:0 !important;
}
.hot-and-new-item .categori .section-top, .blog-area  .section-reviews{
    justify-content: flex-start;

}
.col-lg-12 div .date-blog .calendaryIcone{
    width: 1.2em;
    height: auto;
    margin-right: 0.4em;
}
.date-blog {
    margin-bottom: 10px;
    margin-top: 10px;
}
@media (min-width:992px) {
    .col-lg-3 {
        -ms-flex: 0 0 20%;
        flex: 0 0 24%;
        max-width: 35%;
    }
    .menufixed.nav-fixed .logo-header {
        display: none;
    }
}
.partner-slider .owl-stage-outer .owl-stage .owl-item{
    justify-content: center;
justify-items: center;
display: flex;
}
.owl-item .card-cat a .categoriesImage{
    width: 8em;
    height: 8em;
}
.slider-buttom-category .container .row .categorieBorder{
    border-bottom: 3px solid #d0d0d0;
    margin-bottom: 3em;
}
.owl-item .card-cat .linkCategories .text-center {
    text-align: center !important;
    justify-content: center;
    display: flex;
    position: relative;
    align-items: flex-end;
  }
  .p-3{
    padding: 1.2rem !important;
  }
.owl-item .card-cat .linkCategories{
    justify-content: center;
    display: grid;
    background-image: url(../../../../../images/fundoCategoriasClaro.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 11em;
    width: 8em;
}
.carousel-categorys-highlight .owl-controls .owl-nav .owl-prev {
    display: none !important;
}

.carousel-categorys-highlight .owl-controls .owl-nav .owl-next{
    display: none !important;
}
.slider-buttom-category .single-category:hover{
    box-shadow:none;
}
.slider-buttom-category .single-category {
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.3s ease-in;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
  }
.icofont-cart {
    display: none !important;
}
.hero-area .hero-area-slider .intro-carousel .intro-content > img {
    max-height: unset;
    max-height: 100%;
}
.partners .container .row .col-lg-12 .section-top .section-title{
text-align: center;
}
.copFooter{
    text-align: center;
justify-content: center;
position: relative;
display: flex;
}
.imageComentarios{
    border-radius: 0.5em;
    height: 100%;
}
.section-top .section-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -2px;
  }
.blog-area .aside .slider-wrapper .slide-item{
    text-align: left;
    background: white;
    border-radius: 0.7em;
}
.section-top .section-title {
    font-size: 36px;
    font-weight: 500;
    padding: 10px;

}
.section-reviews .section-title{
    font-size: 36px;
    font-weight: 500;
    padding: 10px;
}
span a .icoAcess{
    margin-left: 0.5em;
}
.section-top .section-title:after {
    content: none;
 }

 .logo-header .search-box {
    border: none;
    border-bottom:1px solid #d0d0d0;
 }.blog-area .item-blog .details {
    color: rgb(59, 59, 59);
    font-weight: 300;
  }
 .blog-area .item-blog .box-img-blog {
    border-radius: 1.4em;
    height: 100%;
    min-height: 40vh;
    background-size: cover;
    background-position: center;
  }
 .button-open-search {
    display: none;
}

 @media (max-width:991px){

    .button-open-search {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .button-open-search input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }

    .button-open-search input[type="checkbox"]:checked ~ .icofont-search-1::before{
        content: "\eee4";
    }

    .button-open-search i {
        font-size: 1.5rem;
    }

    #profile-icon i {
        font-size: 2rem;
    }

    .logo-header .search-box {
        display: none;
    }

    div#myInputautocomplete-list {
        margin-top: 15px;
    }

    .logo-header .search-box.open-search {
        width: 90%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -1rem;
        background-color: #fff;
        height: 55px;
        margin: 15px;
        z-index: 999999;
        border: 3px solid #b92c14;
        box-shadow: 0 0 30px -10px #3e3e3e;
        animation: .4s linear showSearch;
    }

    @-webkit-keyframes showSearch {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes showSearch {
        from { opacity: 0; }
        to { opacity: 1; }
    }

 }

.logo-header .search-box .categori-container {
    width: 170px;
}

.logo-header .search-box .categori-container .categoris option {
    background: #000000;
}

.logo-header .search-box .search-form {
    padding-left: initial;
}
.img .banner-effect figure .largeBanner{
    border-radius: 0;
}
.banner-section img{
    width: 100%;
    height: auto;
}


@media (max-width: 991px) {
    .logo-header .search-box .search-form button {
        top: 50%;
        height: 99%;
    }

}

.logo-header .helpful-links ul li.my-dropdown .cart .icon i {
    color: #000000;
}

.logo-header .helpful-links ul li.my-dropdown .cart p {
    color: #000000;
}

.logo-header .helpful-links ul li.my-dropdown .my-dropdown-menu {
    z-index: 999999;
}

.logo-header .helpful-links ul li.my-dropdown .my-dropdown-menu .dropdownmenu-wrapper .dropdown-cart-header .item-no {
    color: #000000;
}

.logo-header .helpful-links ul li.my-dropdown .my-dropdown-menu .dropdownmenu-wrapper .dropdown-cart-header .view-cart {
    color: #000000;
}

.logo-header .helpful-links ul li.my-dropdown .my-dropdown-menu .dropdownmenu-wrapper .dropdown-cart-products .product .product-details .content .product-title {
    color: #000000;
}

.logo-header .helpful-links ul li .wish i {
    color: #000000;
}

.logo-header .helpful-links ul li .wish p {
    color: #000000;
}

.logo-header .helpful-links ul li .sign-log i {
    color: #000000;
}

.logo-header .helpful-links ul li .sign-log .links a {
    color: #000000;
}

@media (max-width:991px) {
    .mainmenu-area .categories_menu .categories_menu_inner {
        border: 1px solid #a2a2a230;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu {
        position: relative;
    }
}

.categories_menu_inner>ul>li>ul.categories_mega_menu {
    -webkit-box-shadow: 0px 10px 10px #717171d1;
    box-shadow: 0px 10px 10px #717171d1
}

.categories_menu_inner>ul>li:nth-last-child(-n+5) ul.dropup {
    top: unset;
    bottom: 2.5rem;
}

@media (min-width: 993px) {
    .categories_menu_inner>ul>li:nth-last-child(-n+5) ul.dropup {
        top: unset;
        bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .categories_menu_inner>ul>li>ul.categories_mega_menu {
        display: none;
    }
}

.categories_menu_inner>ul>li ul.categories_mega_menu.column_1 {
    width: initial;
    padding: 10px 15px 0;
}

@media only screen and (max-width: 767px) {
    .categories_menu_inner ul li ul.categories_mega_menu.open {
        display: block;
    }
}

.hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-1 .subtitle {
    color: #000000;
}

.hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-2 .text {
    color: #000000;
}

.info-area {
    background: #F4F4F4;
}

@media (max-width: 578px) {
    .info-area .info-box {
        padding: 1rem 2rem;
    }
    .info-area .info-box .icon {
        margin-right: 0 !important;
        justify-content: center;
    }

}

.info-area .info-box .info .details .title {
    color: #333;
}

.info-area .info-box .info .details .text {
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 576px) {
    .info-area .info-box .info .details .title {
        font-size: 12px;
        margin-bottom: 0px;
        text-align: center;
    }
    .info-area .info-box .info .details .text {
        font-size: 11px;
    }
}

.sider-bar-align {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 50% !important;
    padding-left: 10px;
}

.phone-and-accessories .aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.categori-item {
    padding: 4rem 0;
}
.logoHeader{
    max-width: 6vw;
}

.item {
    position: relative;
    margin: 7px;
    padding: 1em;
    overflow: hidden;
    display: block;
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
    transition: all .3s;
    border: 1px solid #f4f4f4 !important;
    height: 94%;
    background-color: #fff;
    border-radius: 2.1em;
}

.item .item-img img {
    padding: 0;
}

.item:hover {
    overflow: visible;
    display: block;
    position: relative;
    z-index: 9;
    transition: all .3s;
}

.item .item-img .sell-area {
    top: 32px;
    z-index: 2;
}

.ref {
    top: 10px !important;
    opacity: 0;
}

.item:hover .item-img .ref {
    top: 10px !important;
    opacity: 100;
}
.hot-and-new-item .categori .item-list li .single-box{
    position: relative;
margin-bottom: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.item .info {
    text-align: initial;
    margin-bottom: 1.3em;
    
}

@media (max-width:768px) {
    .item .info {
        padding: 20px 20px 63px;
    }

    .oferta-relampago .item .info {
        padding: 20px 20px 80px;
    }

    .oferta-relampago .item .item-cart-area {
        bottom: 2.1rem;
    }
    .logoHeader{
        max-width: 100%;
    }
    .item {
        position: relative;
        margin: 5px;
        padding: 2rem 0 0;
        overflow: hidden;
        display: block;
        -webkit-transition: unset;
        -o-transition: unset;
        transition: unset;
        transition: all .3s;
        border: 1px solid #f4f4f4 !important;
        height: 92%;
        background-color: #fff;
        border-radius: 1.3em;
    }
}
.icoFooter{
    font-size: 1.3em;
}
.item .info .name {
    height: auto;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    z-index: 999;
position: relative;
text-transform: uppercase;
}

.item .add-to-cart-btn {
    font-size: 16px;
    width: auto;
    border-radius: 0;
    text-transform: uppercase;
    display:inline-block;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding:5px;
    margin:3px;
}

.electronics-section {
    padding: 15px 0px 50px;
    margin: 4rem 0 0;
}

.flash-deals .flas-deal-slider .item .price .old-price {
    color: #000000;
}

.flash-deals .flas-deal-slider .item .price .old-price::after {
    background: #000000;
}

.flash-deals .flas-deal-slider .item .deal-counter span small {
    color: #000000;
}

.hot-and-new-item .categori .item-list li .single-box .right-area .price {
    color: #000000;
}

.banner-section.position-top {
    position: relative;
    padding: 0;
    bottom: 10em;
}

@media (max-width:768px) {
    .banner-section.position-top {
        top: 0;
        padding: 5px;
    }
}

.shadow-banner{
    transition: all .4s;
}

.shadow-banner:hover{
    box-shadow: 0 0 30px -10px #6a6a6a85;
    transition: all .4s;
}

.banner-effect{
    margin-bottom: 10px;
}

.position-top .banner-effect{
    box-shadow: 0 0 35px -15px #4d4d4d;
    border-radius: 1.3em;
}

.banner-effect::after {
    display: none;
}

.banner-effect:hover::after {
    display: none;
}

.blog-area {
    padding-top: 25px;
    background-color: transparent;
}

.blog-area .aside .slider-wrapper .slide-item .top-area .left img {
    max-width: 150px !important;
}

.footer .footer-info-area .footer-logo {
    text-align: center;
}

@media (min-width:768px){
    .info-link-widget {
        justify-content: start;
        align-items: start;
    }

 
}

.info-link-widget {
    padding: 0;
}

.info-link-widget .link-list li {
    padding: 10px 0;
    display: list-item;
}

.footer .footer-widget ul li {
    list-style-type: none;
}

.recent-post-widget .post-list li .post .post-img img {
    border-radius: 5px;
}

.product-details-page .right-area .product-info .info-meta-1 ul li p {
    color: #000000;
}

.img-upload label {
    z-index: 5;
    width: 200px;
    height: 50px;
    background-color: #dfdfe4;
    color: #000000;
    font-size: 16px;
    line-height: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 100%;
    right: 0;
    bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.img-upload input {
    width: 200px;
    height: 50px;
    z-index: 10;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 100%;
    margin-left: 30px;
    cursor: pointer;
    opacity: 0;
}

.product-details-page .right-area .product-info .info-meta-3 .meta-list li.favorite a, .product-details-page .right-area .product-info .info-meta-3 .meta-list li.compare a {
    font-size: 17px;
    border-radius: 0;
    height: auto;
}

.product-details-page .right-area .product-info .social-links .link-list li a.whatsapp {
    background: #6ACA59;
}

.product-details-page #product-details-tab.ui-tabs .ui-tabs-panel .heading-area .reating-area .reting-and-review {
    color: #000000;
}
.product-details-page #product-details-tab .top-menu-area {
    border: none;
}

.product-details-page #product-details-tab .top-menu-area ul li a {
    color: #000000;
}

.product-details-page #product-details-tab .top-menu-area ul li a::after {
    background: #000000;
}

#product-details-tab #replay-area .all-replay li .single-review .left-area .name {
    color: #000000;
}

#product-details-tab #replay-area .all-replay li .single-review .left-area .date {
    color: #000000;
}

#product-details-tab #replay-area .all-replay li .single-review .right-area .header-area .title {
    color: #000000;
}

#product-details-tab #comment-area .all-comment li .single-comment .left-area .name {
    color: #000000;
}

#product-details-tab #comment-area .all-comment li .single-comment .left-area .date {
    color: #000000;
}

#product-details-tab #comment-area .all-comment li .single-comment .right-area .header-area .title {
    color: #000000;
}

#product-details-tab #comment-area .all-comment li .replay-area .remove {
    background: #000000;
}

.product-details-page .categori .item-list li .single-box .right-area .price {
    color: #000000;
}

.cart-sacola {
    width: 26px !important;
    height: 26px !important;
    margin-bottom: -4px;
    background-image: url(../../assets/images/icon/sacola.png) !important;
    background-position: center !important;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
}

.price-range-field {
    width: 60px;
}

.sub-categori .left-area .tags-area .body-area .taglist li a {
    color: #000000;
}

.sub-categori .left-area .all-categories-area .body-area .cat-list li a {
    color: #000000;
}

.sub-categori .right-area .pagination-area .pagination .page-item .page-link {
    color: #000000;
}

.order-box .title {
    color: #000000;
}

.order-box .order-btn:hover {
    background: #000000;
}

.blogpagearea .blog-box {
    background: transparent;
    padding: 20px;
    border: 1px solid #b0b0b02e;
}

.blogpagearea .blog-box .name_team {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: -0.03em;
    border-bottom: 1px solid #c1c1c169;
    position: relative;
}

.blogpagearea .blog-box .name_team span::after {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 99;
    width: 15%;
    top: 2px;
    left: 0;
    height: 100%;
    transition: all .5s;
}

.blogpagearea .blog-box:hover .name_team span::after {
    width: 100%;
    transition: all .5s;
}

.blogpagearea .blog-box .details .team_contacts_wpp {
    color: green;
}

.blogpagearea .blog-box .details .team_contacts_skype {
    color: #0078d4;
}

.blogpagearea .blog-box .details .team_contacts_email {
    color: #d93025;
}

.blogpagearea .blog-box .details .blog-text a:hover {
    color: #333;
}

.blog-details .blog-content .content .heading {
    margin: 15px 0px 15px;
}

.blog-details .blog-content .content .img {
    margin: 15px 0px 15px;
}

.contact-us .contact-section-title .subtitle {
    color: #000000;
}

.contact-us .right-area .top-content .title {
    color: #000000;
}

.contact-us .right-area .social-links .title {
    color: #000000;
}

.login-area .submit-btn:hover {
    background: #000000;
}

.login-area .social-area .text {
    color: #000000;
}

.login-area .social-area .social-links {
    display: inline-flex;
}

.login-area .social-area .social-links li a i.fa-facebook-f {
    background: #ffffff;
    color: #4184F3;
}

.login-area .social-area .social-links li a i.google {
    background-image: url("../../../../../../../../assets/front/images/google_logo.svg");
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
}

.comment-log-reg-tabmenu .nav-tabs .nav-link.active {
    background: #000000;
}

.compare-page .com-heading .title {
    color: #000000;
}

.compare-page-content-wrap .first-column {
    color: #000000;
}

.user-dashbord .user-profile-details .mycard::after {
    background: #000000;
}

.user-dashbord .user-profile-details .account-info .header-area .title {
    color: #000000;
}

.user-dashbord .user-profile-details .account-info .edit-info-area .edit-info-area-form .back {
    background: #000000;
}

.user-dashbord .user-profile-details .account-info .edit-info-area .edit-info-area-form .submit-btn:hover {
    background: #000000;
}

.user-dashbord .user-profile-details .order-history .header-area .title {
    color: #000000;
}

.user-dashbord .user-profile-details .order-details .header-area .title {
    color: #000000;
}

.user-dashbord .user-profile-details .order-details .back-btn {
    background: #000000;
}

.thankyou .content {
    background: #000000;
}

.single-wish .right .price {
    color: #000000;
}

.allproduct.message-area .table .link.view {
    background: #000000;
}

.partners {
    padding: 2rem 0;
}

.radio-design label {
    margin-right: 30px;
}

.radio-design .checkmark::after {
    z-index: 9;
}

.user-profile-details .allproduct .view-order {
    background: #000000;
}

.autocomplete-items div {
    background: #000000;
}

.elegant-pricing-tables h3 .price-sticker, .elegant-pricing-tables:hover, .elegant-pricing-tables.active, .elegant-pricing-tables:hover .price, .elegant-pricing-tables.active .price, .elegant-pricing-tables.style-2 .price, .elegant-pricing-tables .btn {
    background: #000000
}

.elegant-pricing-tables .price {
    color: #000000;
    border-color: #000000
}

.elegant-pricing-tables:hover h3 .price-sticker, .elegant-pricing-tables.active h3 .price-sticker, .elegant-pricing-tables:hover .btn, .elegant-pricing-tables.active .btn, .elegant-pricing-tables.style-2:hover .price, .elegant-pricing-tables.style-2.active .price {
    color: #000000
}

.elegant-pricing-tables.style-2:hover, .elegant-pricing-tables.style-2.active {
    border-color: #b3b3b396;
    box-shadow: 0 0 30px #717171a8;
}

.elegant-pricing-tables {
    overflow: hidden;
    height: 95%;
}

.elegant-pricing-tables h3 {
    font-size: 27px;
    font-weight: normal;
    margin: 10px 0 20px;
    padding: 15px;
    background-color: aliceblue;
}

.elegant-pricing-tables .price {
    display: flex;
    line-height: normal;
    border: none;
    background: transparent;
    width: 135px;
    height: 135px;
    padding-top: initial;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.elegant-pricing-tables .price sup {
    top: -1rem;
    font-size: 1rem;
    left: .2rem;
}

.elegant-pricing-tables:hover h3, .elegant-pricing-tables.active h3 {
    background: #00000052;
}

.elegant-pricing-tables.style-2 .price .price-month {
    padding-top: initial;
    display: inline-block;
}

.elegant-pricing-tables.style-2:hover .pricing-detail p {
    color: #fff !important;
}

.xzoom5 {
    width: 100% !important;
}

.hide {
    display: none;
}

.logo-header .helpful-links ul li .wish i, .logo-header .helpful-links ul li.my-dropdown .cart .icon i {
    filter: invert(85%);
}

.logo-header .search-box-wrapper {
    padding: 0;
    display: flex;
    justify-content: center;
}

.categories_menu_inner>ul {
    border: none !important;
    display: block;
}

.logo-header .search-box .search-form {
    padding: 5px 10px;
}

.logo-header .logo {
    position: initial;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 414px) {
    .logo-header .search-box .search-form button {
        width: 40px;
    }
}

/* Style FAB Whatsapp button - Team - START */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.floating_button_sellers {
    bottom: 1rem;
    left: 1rem;
    position: fixed;
    padding-right: 30px;
}

.floating_button_seller:not(:last-child) {
    display: none;
}

.floating_button_seller {
    display: block;
    width: 56px;
    border-radius: 50%;
    text-align: center;
    color: white;
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
}

.floating_button_seller>i {
    font-size: 28px;
    line-height: 60px;
    transition: all .2s ease-in-out;
    transition-delay: 2s;
    background-color: bisque;
    padding: 10px;
    border-radius: 25px;
}

.floating_button_seller.grey {
    background: #efefef;
}

.floating_button_seller.green {
    background: #28a745;
}

.floating_button_seller:not(:last-child) {
    width: 36px;
    margin: 20px auto 0;
}

.floating_button_seller:not(:last-child)>i {
    font-size: 18px;
    line-height: 40px;
    transition: all .3s ease-in-out;
}

.floating_button_seller:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
}

.floating_button_seller:not(:last-child):nth-last-child(2) {
    -webkit-transition-delay: 20ms;
    transition-delay: 20ms;
}

.floating_button_seller:not(:last-child):nth-last-child(3) {
    -webkit-transition-delay: 40ms;
    transition-delay: 40ms;
}

.floating_button_seller:not(:last-child):nth-last-child(4) {
    -webkit-transition-delay: 60ms;
    transition-delay: 60ms;
}

.floating_button_seller:not(:last-child):nth-last-child(5) {
    -webkit-transition-delay: 80ms;
    transition-delay: 80ms;
}

[tooltip]:before {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #585858;
    color: #fff;
    content: attr(tooltip);
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    padding: 5px 7px;
    margin-right: 10px;
    position: absolute;
    left: 115%;
    bottom: 27%;
    white-space: nowrap;
}

[tooltip]:hover:before, [tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

.top-area.mobile {
    display: none;
}

.top-area {
    text-align: start;
    border: none;
}

.footer .footer-info-area .footer-logo img {
    max-width:100%;
}

.top-area .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.top-area .content .name {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.blog-area .aside .slider-wrapper .slide-item .review-text p {
    text-align: start;
    opacity:.6;
}

@media screen and (min-width:768px) and (max-width: 992px) {
    .mobile-button.btn.btn-success {
        display: block !important;
    }
}

@media screen and (max-width:768px) {
    .top-area.mobile {
        display: block;
    }
    .hero-area .hero-area-slider .intro-carousel .intro-content > img {
        max-height: unset;
        height: 25vh;
    }
}

#tabs-1 ul li {
    list-style: unset !important;
}

.textureIconsModal {
    margin-right: 7px;
}

.textureOverlay:hover {
    opacity: 0.5;
}

.textureOverlayModal:hover {
    opacity: 0.5;
}

.overlaySpan {
    position: absolute;
    margin-top: -50px;
    margin-left: 35px;
    opacity: 0;
}

.textureOverlay:hover+.overlaySpan {
    opacity: 1;
}

.overlaySpan:hover {
    opacity: 1;
}

.overlayCurrentSpan {
    position: relative;
    top: 10%;
    left: -21%;
    z-index: 1;
}

.overlaySpanModal {
    position: relative;
    top: 33%;
    left: 33%;
}
/* Style FAB Whatsapp button - Team - FINISH */

.top-header .content .right-content .list ul li .currency-selector .currency {
    background-color: transparent !important;
    padding: 0;
}

.nice-select .option {
    min-height: 0;
    padding: 5px 15px !important;
    font-size: 14px;
}

.top-header ul li .currency-selector span {
    font-size: 13px;
}

.top-header ul li.my-dropdown.profilearea .profile .text {
    font-size: 14px;
    margin: 0;
}

.top-header .content .right-content .list li {
    padding: 0 10px;
}
.top-header .content .right-content .list li .currency-selector {
    top: 0;
}

.top-header .left-content .list ul li .nice-select{
    font-size: 13px;
    padding: 0px 25px 0px 10px;
}

.top-header .content .left-content .list ul li {
    padding: 0 5px;
}

body > * {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.separador-right{
    border-right: 1px solid #ffffff40;
}

.separador-left{
    border-left: 1px solid #ffffff40;
}

.top-header {
    padding: 4px 0 !important;
    background-color: #363636;
    border:none;
}

.logo-header .search-box .search-form button {
    font-size: 18px;
    background-color: transparent;
    border-radius: 0;
    left:-1px;
}

.top-header .content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.top-header .content > .left-content > .list > ul, .top-header .content > .right-content > .list > ul{
    align-items: center;
    display: flex !important;
    flex-wrap: wrap;
}

@media(max-width: 576px) {
    .top-header .content {
        justify-content: flex-end;
    }
}


.logo-header .search-box .search-form input {
    height:40px;
    padding-left: 35px;
    font-family: 'Poppins', serif;
    font-size: 16px;
}

.logo-header .search-box{
    height: 40px;
}

@media (min-width:768px){
    .logo-header .search-box {
        height:auto;
    }
}

.hero-area .hero-area-slider .owl-controls .owl-dots {
    position: absolute;
    transform: translateX(0);
    margin: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.hero-area .hero-area-slider .owl-controls .owl-dots .owl-dot{
    width: 15px;
    height: 15px;
    transform: skew(0);
}

.hero-area .hero-area-slider .owl-controls .owl-dots .owl-dot.active{
    width: 15px;
}

#services-carousel {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

#services-carousel .owl-item .item-slide {
    padding: 0 3rem;
}

#services-carousel .owl-controls .owl-nav .owl-prev, #services-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    top: 35%;
}

#services-carousel .owl-controls .owl-nav .owl-prev i, #services-carousel .owl-controls .owl-nav .owl-next i{
    font-size: 30px;
}

#services-carousel .owl-controls .owl-nav .owl-prev {
    left: 10px;
}

#services-carousel .owl-controls .owl-nav .owl-next {
    right: 10px;
}

.info-area .info-big-box {
    border-radius: 0px;
    box-shadow: none;
    padding: 1rem 0;
}

@media (max-width:576px){
    .info-area .info-big-box {
        padding:1rem 0;
    }
}

.info-area .info-box {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    max-width: 350px;
}

.info-area .info-box .info {
    padding-left: 15px;
}

.info-area .info-box .icon {
    display: flex;
    margin: 0;
    height: 100%;
    align-items: start;
}

.info-area .info-box .info .title {
    text-align: start;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 5px;
}
.info-area .info-box .info .details {
    padding: 0;
}

.trending .owl-carousel .owl-controls .owl-nav {
    display: flex;
}
.trending .owl-carousel .owl-controls .owl-nav .owl-prev{
    left: 0;
right: auto;
}
.trending .owl-carousel .owl-controls .owl-nav .owl-prev, .trending .owl-carousel .owl-controls .owl-nav .owl-next {
    top: 6em;
    transform: translate(0);
    height: auto;
    line-height: 0;
    font-size: 40px;
    z-index: 99;
    border: none;
    align-items: center;
    position: absolute;
    padding: 0.2em;
    border-radius: 4em;
    width: 1.4em;
    justify-content: center;
    align-content: center;
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 15px;
}


.trending .owl-carousel .owl-controls .owl-nav .owl-prev:hover, .trending .owl-carousel .owl-controls .owl-nav .owl-next:hover {
    color: #555;
}

.trending {
    padding: 0 0 40px;
} 
.partners .container .row .col-lg-12 .section-top{
    border-bottom: none;
    justify-content: center;
}
.section-top {
    border-bottom: 3px solid #d0d0d0;
    justify-content: left;
}

.hot-and-new-item .categori .section-top, .blog-area .section-top  {
    justify-content: flex-start;
}

.oferta-relampago {
    padding: 2rem 0;
}

.oferta-relampago .section-top {
    display: flex;
}

.section-title #post-title {
    display: none;
}

.section-title #post-title img{
    padding: 0 5px;
}

.section-title #post-title::after,.section-title #post-title::before  {
    content: '';
    width: 100%;
    height: 1px;
    opacity: .7;
}

.flash-deals .flas-deal-slider .item {
    margin: 20px 10px;
    min-height: 430px;
}

.full-stars {
    color: #ffe300ed;
}

.full-stars::before,.empty-stars::before {
    -webkit-text-stroke: 0;
}

.empty-stars::before, .full-stars::before {
    font-size: 16px;
}

.item:hover .info {
    top: 0;
    transition: all linear .3s;
    background-color: transparent;
}

.small, small {
    color: #646363f0;
    font-size: 65%;
}

.item .info .price {
    line-height: 22px;
    margin-bottom: 10px;
    color: rgb(24, 24, 24);
    font-size: 22px;
    font-weight: bold;
}

.item .item-cart-area {
    bottom: 0;
    position: absolute;
    transition: all linear .3s;
    padding-bottom: 10px;
}

.item .item-img {
    transition: all linear .3s;
}

@media (max-width:768px){
    .item .add-to-cart-btn {
        opacity: 1;
        border: 1px solid transparent;
        color: #f9f9f9;
        border-radius: 0.4em;
        padding: 5px 7px;
        box-shadow: 0 0 15px #dbdbdb;
    }

    .item .item-img .extra-list {
        opacity: 1;
        display: none;
    }

}
/* 
.stars {
    padding: 1rem 0 0;
} */
.flash-deals .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 0;
    right: auto;
  }
.item:hover .item-cart-area {
    bottom: 0.1em;
    transition: all linear .3s;
    background-color: #fff;
    border-radius: 10em;
    z-index: 999;
}
.trending-item-slider .owl-stage-outer .owl-stage .owl-item .item:hover .item-cart-area {
    bottom: 1em;
    transition: all linear .3s;
    background-color: #fff;
    border-radius: 10em;
}

.flash-deals .item:hover .item-cart-area {
    bottom:2.1rem;
}

.item:hover .item-img img {
    transform: scale(1);
}

.item:hover .extra-list {
    left: 0px;
}

.item .item-img .extra-list ul li span:hover {
    border: none;
    background: none;
}

.item .item-img .extra-list ul li span {
    border: none;
    background: none;
    padding: 8px 5px;
    margin: 0;
    width: 25px;
    height: 25px;
    box-sizing: content-box;
}

.item .item-img .extra-list ul li span:hover img{
    transform: scale(1.1);
}
.item .item-img .sell-area .sale {
    font-size: 14px;
    padding: 0 5px;
    border-radius: 0;
    height: auto;
}

@media (min-width: 768px){
    .cards-small .item {
        max-width: 195px;
        min-height: 440px;
    }
}

.flash-deals .flas-deal-slider .deal-counter {
    border-radius: 0;
    padding: 10px;
    background: #fff;
    position: inherit;
    z-index: 100;
    margin: 10px;
}

.flash-deals .flas-deal-slider .deal-counter div {
    display: flex;
    justify-content: center;
}

.flash-deals .flas-deal-slider .deal-counter span {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    font-family: 'Poppins', sans-serif;
}

.flash-deals .flas-deal-slider .deal-counter span:last-child {
    margin-right: 0px; }

.flash-deals .flas-deal-slider .deal-counter span small {
    display: block;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 992px) and (max-width: 1199px){
    .flash-deals .flas-deal-slider .deal-counter span {
        font-size: 18px;
        line-height: 28px;
    }
}


@media only screen and (max-width: 575px) {
    .flash-deals .flas-deal-slider .deal-counter {
      padding: 8px;
  }
}

@media only screen and (max-width: 414px) {
    .flash-deals .flas-deal-slider .deal-counter span {
        font-size: 18px;
        line-height: 22px;
    }
}
.flash-deals .owl-carousel .owl-controls .owl-nav .owl-next{
    right: 0;
left: auto;
}
.flash-deals .owl-carousel .owl-controls .owl-nav .owl-prev, .flash-deals .owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    transform: translate(0);
    border: none;
    height: auto;
    line-height: 0;
    font-size: 40px;
    top: 6em;
    padding: 0.2em;
    border-radius: 4em;
    width: 1.4em;
    justify-content: center;
    align-content: center;
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 15px;
}


.flash-deals .owl-carousel .owl-controls .owl-nav .owl-prev:hover, .flash-deals .owl-carousel .owl-controls .owl-nav .owl-next:hover {
    color: #555;
    background-color: transparent !important;
}

.cards-more-votads .item {
    width: auto;
    box-shadow: none !important;
    background-color: white !important;
}

@media (min-width:576px){
    .cards-more-votads .item {
        width: 240px;
    }
}

.hot-and-new-item .owl-carousel .owl-controls .owl-nav .owl-prev, .hot-and-new-item .owl-carousel .owl-controls .owl-nav .owl-next {
    border-radius: 0;
    font-size: 18px;
}

.hot-and-new-item .categori .item-list li .single-box .right-area .text a {
    color: #333;
}

.hot-and-new-item .categori .item-list li .single-box .right-area .text {
    font-weight: 500;
}

.blog-area .aside .slider-wrapper {
    box-shadow: none;
    height: auto;
    padding: 0 10px;
    background: transparent;
}

.blog-area .aside .slider-wrapper .slide-item .top-area .left img {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.blog-area .aside .coments p{
    margin: 0;
}

@media (max-width: 768px) {
    .blog-area .aside .coments {
        margin-top: 10px;
    }
}

.blog-area .owl-carousel .owl-controls .owl-nav {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.blog-area .owl-carousel .owl-controls .owl-nav .owl-prev, .blog-area .owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    transform: translate(0);
    background: none;
    border: none;
    width: auto;
    height: auto;
    line-height: 0;
    font-size: 40px;
    border-radius: 0px;
    box-shadow: none;
    padding: 0 7px;
    top: 31%;
}

.blog-area .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: -25px;
}

.blog-area .owl-carousel .owl-controls .owl-nav .owl-next {
    right: -25px;
}

.blog-area .owl-carousel .owl-controls .owl-nav .owl-prev:hover, .blog-area .owl-carousel .owl-controls .owl-nav .owl-next:hover {
    color: #555;
}

.product-details-page .right-area .product-info .product-price .price {
    font-size:30px;
}

.product-details-page .right-area .product-info .product-name {
    font-size:35px;
    font-weight: 300;
}

.blog-title {
    font-size: 22px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.blog-area .blog-box .details .blog-text {
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog-area .blog-box .details .read-more-btn {
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: center;
    border-radius: 0;
}

.blog-area .blog-box {
    border: none;
    padding: 10px 0;
    box-shadow: none;
}

.blog-area .blog-box .blog-images .img img{
    height:100%;
    width:auto;
    max-width: none;
    position:absolute;
}

.blog-area .blog-box .blog-title {
    font-family: 'Poppins', sans-serif;
    padding-top: 1rem;
}



.blog-area .blog-box .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .copy-bg .content .content p{
    font-size: 13px;
    display: inline;
    float: right;
    padding:1rem;
}
.paragrafoFooter{
    width: 33vw;
}
.footer .copy-bg .content .content p:first-child {
    float: left;
}
.footer {
    margin-top: 2rem;
    padding: 40px 0px 0px;
}

.footer .title {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.bottomtotop i {
    width: 40px;
    height: 40px;
    line-height: 37px;
    border-radius: 0;
}

.logo-header .helpful-links ul li.wishlist .wish span,
.logo-header .helpful-links ul li.compare .compare-product .icon span,
.logo-header .helpful-links ul li.my-dropdown .cart .icon span {
    width: 22px;
    height: 22px;
    background-color: white;
    bottom: -10px;
    top: inherit;
    right: -12px;
    border-radius: 5px;
}

.logo-header .helpful-links .icons-header {
    width: auto;
    height: 28px;
}

.logo-header .helpful-links ul li[data-toggle="tooltip"], .logo-header .helpful-links ul li[data-toggle="tooltip"] {
    margin-top: 0;
}

.logo-header .helpful-links ul li.my-dropdown .my-dropdown-menu .dropdownmenu-wrapper .dropdown-cart-action .mybtn1 {
    border-radius: 0;
}

.top-header ul li.my-dropdown.profilearea .my-dropdown-menu {
    padding: 10px 5px;
}

.trending .item, .flash-deals .item {
    min-height: auto;
    background-color: white;
}

@media (min-width:768px) {
    .trending .item, .flash-deals .item {
        min-height: auto;
        padding: 1em;
    }
}

.flash-deals.no-prod-found .item {
    min-height: auto;
}

.nice-select:after {
    top: 60%;
}

.currency-selector .nice-select:after {
    right: -10px;
}


@media (max-width: 576px){
    .right-content .nice-select:after {
        right: 20px;
    }
    .paragrafoFooter{
        width: 100vw;
    }
    .imageComentarios{
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.contact-us .left-area .contact-form .submit-btn {
    border-radius: 0;
}

.cartpage .left-area .table tbody tr td.product-img {
    width: 270px;
}

.seller-info .view-stor {
    border-radius: 0;
}

.product-details-page .right-area .product-info .info-meta-3 .meta-list li.addtocart a {
    border-radius: 0;
}

.badge {
    border-radius: 0;
}

.seller-info .view-stor{
    font-size: 15px;
}
.product-details-page .right-area .product-info .info-meta-3 .meta-list li.addtocart a {
    font-size: 15px;
    height: auto;
}

.order-tracking-content .track-form .mybtn1 {
    border-radius: 0px;
    height: auto;
}

.order-tracking-content .track-form input {
    border-radius: 0px;
}

.sub-categori .left-area .filter-result-area .body-area .filter-btn {
    border-radius: 0px;
}



.nav-fixed .logo-header {
    padding: 10px 0;
}

@media (max-width: 768px){
    .logo-header .helpful-links {
        margin: 1.5rem 0;
    }

    .logo-header {
        padding: 0;
    }
}

.mainmenu-area .categories_menu .categories_title h2 i.arrow-down {
    margin-left: 10px;
}

.categories_title h2 i {
    margin-right: 5px;
}

.helpful-links-inner {
    display: flex;
    justify-content: center;
}

.banner-effect:hover img {
    transform: scale(1.03);
}

.owl-carousel .owl-item .item-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 10px;
}

.categories_menu_inner_horizontal > ul > li.dropdown_list> .img {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}


/* .blog-area .owl-carousel .owl-item img {
    max-width: 120px;
    border: 2px solid #fff;
    margin: 0 0 10px;
} */

.partners .owl-carousel .owl-item img {
    max-width: 8em;
}

.menufixed.nav-fixed .logo img {
    max-height: 60px;
}

.banner-section .img .banner-w100 img{
    width: 100vw;
    height: auto;
}

.banner-section .img .banner-w100{
    display: flex;
    justify-content: center;
}

.banner-section .left {
    margin: auto;
}


.logo-header .helpful-links ul li {
    margin-right: 15px;
}

.autocomplete-items {
    max-height: 500px;
    overflow: auto;
}

.categories_menu_inner_horizontal > ul > li a:hover {
    transform: translateX(8px);
    transition: .5s all;
}

.top-header .content .right-content .list li.login .links,
.top-header .left-content .list ul li .currency-selector span,
.top-header ul li.my-dropdown.profilearea .profile .text,
.top-header .content .right-content .list li .nice-select,
.top-header .left-content .list ul li .language-selector i {
    font-size: 13px;
}

@media only screen and (max-width: 414px) {
    .top-header .left-content .list ul li .language-selector i {
        top: 3px;
    }
}
.justificar{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}
.info-area .info-box .icon .img-fluid-service {
    height: auto;
    width: 100%;
    max-width: 6em;
}

.slider-buttom-category {
    background-color: transparent;
}

.trending .trending-item-slider, .bg-section-items {
    padding:1rem;
}


.blog-area .aside .slider-wrapper .slide-item .top-area .right .content .name {
    text-transform: none;
    font-weight: 300;
    font-size: 25px;
}

.blog-area .aside .slider-wrapper .slide-item .review-text {
    padding: 0;
    margin:0;
}

.blog-area .aside .slider-wrapper .slide-item .left {
    position: absolute;
    top: 2rem;
    left: -1rem;
}

.blog-area .aside .slider-wrapper .slide-item .top-area .right .content .dagenation {
    font-weight: 300;
}

.blog-area .aside .slider-wrapper .slide-item .left img{
    margin: auto;
    border-radius: 0;
}
.blog-area .aside .slider-wrapper .slide-item .review-text::before {
    bottom: -2rem;
    font-size: 2rem;
    right: -2.5rem;
}

.blog-area .aside .slider-wrapper .slide-item .review-text::after {
    top: -2rem;
    left: -2.5rem;
    font-size: 2rem;
}

.footer .footer-widget .title {
    font-weight: 600;
    text-transform: none;
}

@media (max-width:767px){
    .mainmenu-area-innner {
        padding-top: 0;
    }
    .categorimenu-wrapper {
        width: 100%;
    }
    /* .flash-deals .owl-carousel .owl-controls .owl-nav .owl-prev, .flash-deals .owl-carousel .owl-controls .owl-nav .owl-next {
        position: static;
    } */

    .flash-deals .owl-carousel .owl-controls .owl-nav {
        display: flex;
        justify-content: center;
    }

    .section-top .section-title.title-oferta {
        max-width: 320px;
    }
}

.mainmenu-area .categories_menu .categories_title h2 i.arrow-down {
    float: inherit;
}

.product-details-page .categori .section-title {
    font-size: 18px;
    top: 0;
    line-height: inherit;
    margin-left: 0;
    max-width: 160px;
}

.partners .section-top .section-title {
    position: static;
}

@media screen and (max-width: 360px) {
    .top-header ul li.my-dropdown.profilearea .profile .text i {
        display: inline;
    }
}

@media (max-width:550px){

    .blog-area .blog-box .blog-images {
        width: 100%;
    }

    .blog-area .blog-box .blog-images .img {
        height: 185px;
        width: 100%;
    }
}

.badge-danger.descont-card {
    background: red;
    text-align: center;
    font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    transition: initial;
    z-index: 9;
  }


.logo-header .search-box .search-form input::-webkit-placeholder {
    color: #848484 !important;
    opacity: .8;
    font-weight: 300;
}
.logo-header .search-box .search-form input::-moz-placeholder {
    color: #848484 !important;
    opacity: .8;
    font-weight: 300;
}
.logo-header .search-box .search-form input::-ms-placeholder {
    color: #848484 !important;
    opacity: .8;
    font-weight: 300;
}
.logo-header .search-box .search-form input::-o-placeholder {
    color: #848484 !important;
    opacity: .8;
    font-weight: 300;
}
.logo-header .search-box .search-form input::placeholder {
    color: #848484 !important;
    opacity: .8;
    font-weight: 300;
}
.categories_menu_inner_horizontal > ul > li > a, .categories_menu_inner_horizontal > ul > li span > a {
    font-weight: 300;
    Font-family: 'Poppins', sans-serif;
}

.small-banners-2 {
    padding:4rem 0;
}

.small-banners-2 .col-lg-4{
    padding: 0 5px;
}

.owl-carousel, .owl-stage-outer, .owl-stage, .owl-item {
    height:100%;
}

.hero-area-slider .owl-carousel, .hero-area-slider .owl-stage-outer, .hero-area-slider .owl-stage, .hero-area-slider .owl-item {
    height: auto;
}

.partner-slider {
    padding:2rem 0;
}

.phone-and-accessories .item, .clothing-and-Apparel-Area .item {
    border: 1px solid rgba(132, 132, 132, 0.1) !important;
    padding: 0.3em;
}

.best-seller {
    padding-top: 4rem;
}

.hot-and-new-item .categori {
    padding:1rem 0;
}

.single-wish .left {
    box-shadow: none;

}

.wish-list .item-filter {
    border: none;
}

#profile-icon {
    display:flex;
    align-items: center;
}

#profile-icon i {
    font-size: 2.5rem;
}

#profile-icon .text {
    font-size: 1rem;
    display: inline-block;
    width: 100px;
    margin-left: 5px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
}

.link-categories {
    display: flex;
}

.box-button-site {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding:10px 0;
}

.box-button-site:hover {
    cursor: pointer;
}

.box-button-site p {
    margin: 0;
    padding-left:8px;
    font-weight: 300;
}

/*Css para o novo menu de abrir/fechar*/
[data-menu-toggle-main] {
    position: relative;
}

[data-menu-toggle-main] .container-menu li {
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
}

[data-menu-toggle-main] .container-menu {
    position: absolute;
    display:none;
    z-index: 999;
    box-sizing: content-box;
    top: 100%;
    left: 0;
    box-shadow: 0px 0 35px -14px #393939;
}

[data-menu-toggle-main] .container-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

[data-menu-toggle-main] .container-menu li a i {
    display: none;
}

@media (max-width: 768px) {
    #profile-icon .text {
        width: auto;
    }
    .autocomplete {
        margin-top: 0;
    }
}

.mainmenu-area .categories_menu {
    margin: 0;
    height:100%;
}

.categories_title {
    height:100%;
}
.mainmenu-area .categories_menu .categories_title h2 {
    padding:1px;
}

.categories_title h2 {
    font-size: 17px;
    font-weight: 500;
}

.flash-deals .flas-deal-slider .card-product-flash {
    position: relative;
    display: flex;
    justify-content: center;
}

.flash-deals .flas-deal-slider .deal-counter * {
    color: #fff;
}



.box-menu-lateral-categorias {
    position: fixed;
    z-index: 99999;
    right: -100%;
    opacity: 0;
    display: flex;
    top: 0;
    height: 100vh;
    width:100%;
    transition: opacity .1s, right .4s;
}
.menu-lateral-categorias {
    overflow-y: auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 320px;
}

.box-menu-lateral-categorias .bg-fade-menu-lateral {
    width: 100%;
    display: inline-block;
    height: 100%;
    background-color: #0000006b;
}

.menu-lateral-categorias .category-item > a {
    font-weight: 500;
}

.menu-lateral-categorias .category-item {
    padding:15px;
}

.menu-lateral-categorias .category-item ul {
    padding-left: 15px;
}

.menu-lateral-categorias .category-item > ul {
    padding-left: 29px;
}

.menu-lateral-categorias .category-item ul li a{
    font-size: 14px;
}



.hero-area {
    max-height: 80vh;
    overflow: hidden;
}

.slider-buttom-category .single-category .left .title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }